.viewBoxStyle {
	display: flex;
	flex-direction: column;
}

.topBox {
	display: flex;
	flex: 0.9;
}

.bottomBox {
	display: flex;
	flex: 0.1;
	justify-content: space-between;
}

.imgStyle {
	height: 100%;
	flex: 1;
}
